@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Simple Calculator</h1>
    <p>Click the 'Launch calculator' button to open the calculator in a modal window.</p>
    <button type="button" id="launch-modal" class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#calculator-modal">
        Launch calculator
    </button>
    <p>Click the 'Toggle styles' button to change the styles on the modal window.</p>
    <button type="button" id="toggle-styles" class="btn btn-primary">
        Toggle styles
    </button>
</div>
<div class="modal" id="calculator-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-header-title">Simple Calculator</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="start">Start</label>
                        <input type="number" id="start" name="start" class="form-control" required value="0" />      
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="operation">Operation</label>
                        <select name="operation" id="operation" class="form-control">
                            <option value="add">Add</option>
                            <option value="subtract">Subtract</option>
                        </select>
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="amount">Amount</label>
                        <input type="number" id="amount" name="amount" class="form-control" required value="0" />
                    </div>
                    <button type="submit" id="calculate-button" class="btn btn-primary">Calculate</button>
                </form>
                <div id="result" class="alert-info mt-4 p-4">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="dismiss-modal" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>